<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.product.persistence.ProductDao">



	<select id="selectAll" resultType="productDTO">
		select * from tbl_product ORDER BY p_code DESC
	</select>

	<select id="findByPCode" resultType="productDTO">
		select * from tbl_product WHERE P_CODE = #{p_code}
	</select>


	<select id="findByPNames" resultType="productDTO">
		select * from tbl_product WHERE P_NAME LIKE '%' || #{p_name} || '%'
	</select>

	<select id="getMaxPCode" resultType="String">		<!-- resultType이 기본형(int, float, String)일 경우는 별도로 명시하지 않아도 문제가 없었는데
																	현재 3.5에서 문제가 발생하므로 resultType을 명시 -->

		SELECT MAX(p_code) FROM TBL_PRODUCT

	</select>



	<insert id="insert" parameterType="productDTO">

		INSERT INTO TBL_PRODUCT(P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT,
		P_FILE) VALUES(#{p_code, jdbcType=VARCHAR},
		#{p_name, jdbcType=VARCHAR},
		#{p_iprice, jdbcType=VARCHAR},
		#{p_oprice, jdbcType=VARCHAR},
		#{p_vat, jdbcType=VARCHAR},
		#{p_file,jdbcType=VARCHAR} )

	</insert>
	
	
	
	<update id="update" parameterType="productDTO">
	
	UPDATE TBL_PRODUCT SET 
		P_NAME = #{p_name,  jdbcType=VARCHAR },
		P_IPRICE = #{p_iprice,  jdbcType=VARCHAR },
		P_OPRICE = #{p_oprice,  jdbcType=VARCHAR },
		P_VAT = #{p_vat,  jdbcType=VARCHAR},
		P_FILE = #{p_file,jdbcType=VARCHAR}
		
	 WHERE P_CODE = #{p_code,  jdbcType=VARCHAR }
	
	
	</update>

</mapper>




